<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yianke.pet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 启动页 -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--屏幕框架适配-->
        <meta-data
            android:name="design_width"
            android:value="1440"/>
        <meta-data
            android:name="design_height"
            android:value="2560"/>

        <!-- 引导页 -->
        <activity
            android:name=".view.activity.LeaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 注册第一页 -->
        <activity
            android:name=".view.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 用户协议详情 -->
        <activity
            android:name=".view.activity.AgreeDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 获取验证码 -->
        <activity
            android:name=".view.activity.VerificationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 爱宠信息录取 -->
        <activity
            android:name=".view.activity.PetMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- 登录第一张界面 -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!-- APP主界面 -->
        <activity
            android:name=".view.activity.MainActivity"
            android:process=":picture"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <!--忘记密码，重置密码-->
        <activity
            android:name=".view.activity.MissActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>

</manifest>